.content-wrapper {
	border-right: 1px solid rgb(237,237,237);
}
.filter-container {
	width: 216px;
	float: left;
	position: relative;
	background-color: #fff;
}
.filter-container.filter-container-close {
	position: absolute;
	left: 0;
	top: 171px;
	width: 6px;
}
.filter-container.filter-container-close .filter-params-content {
	display: none;
}
.filter-container.filter-container-close .filter-params-content-close {
	width: 6px;
	height: 120px;
	background-color: rgb(67,246,176);
}
.filter-container.filter-container-close .filter-params {
	width: 54px;
	height: 54px;
}
.catalog-container.catalog-container-full {
	padding-left: 0;
}
.catalog-container.catalog-container-full .search-catalog {
	margin-left: 53px;
}
.filter-container.filter-container-close .filter-params {
	height: 54px;
	width: 53px;
}
.filter-container.filter-container-close .filter-params a {
	height: 54px;
	width: 53px;
	text-indent: 100%;
	background: url(../images/bg_filter_close.png) center top no-repeat;
}
.filter-container.filter-container-close .filter-params a:hover {
	background: url(../images/bg_filter_close.png) center bottom no-repeat;
}
.filter-container .filter-params {
	height: 54px;
	line-height: 54px;
	color: rgb(166,166,166);
	border-left: 1px solid rgb(241,241,241);
	border-bottom: 1px solid rgb(241,241,241);
	box-sizing: border-box;
	font-family: "PT Sans";
	position: relative;
}
.filter-container .filter-params a {
	display: block;
	height: 54px;
	line-height: 54px;
	width: 216px;
	background: rgb(241,241,241) url(../images/bg_filter_params_choice.png) 180px 22px no-repeat;
	transition: none;
	padding-left: 1.250em;
	box-sizing: border-box;
	text-decoration: none;
	color: rgb(166,166,166);
	font-size: 0.875em;
}
.filter-container .filter-params a:hover {
	background: rgb(234,234,234) url(../images/bg_filter_params_choice.png) 180px -33px no-repeat;
}
.filter-container .filter-icon {
	overflow: hidden;
	padding: 16px 12px;
}
.filter-container .filter-icon a {
	display: inline-block;
	width: 34px;
	height: 30px;
	background-image: url(../images/icon_filter-params.png);
	background-repeat: no-repeat;
	cursor: pointer;
	margin-bottom: 8px;
	transition: none;
}
.filter-container .filter-icon a.chair {
	background-position: 8px 4px;
}
.filter-container .filter-icon a.tumba {
	background-position: -30px 4px;
}
.filter-container .filter-icon a.cupboard {
	background-position: -73px 4px;
}
.filter-container .filter-icon a.table {
	background-position: -115px 4px;
}
.filter-container .filter-icon a.lamp {
	background-position: -160px 4px;
}
.filter-container .filter-icon a.soufa {
	background-position: -200px 4px;
}
.filter-container .filter-icon a.bar {
	background-position: -234px 4px;
}
.filter-container .filter-icon a.office {
	background-position: -278px 4px;
}
.filter-container .filter-icon a.things {
	background-position: -318px 4px;
}
.filter-container .filter-icon a.icon-hover {
	background-position-y: -42px;
}
.filter-container .filter-icon a.icon-active {
	background-position-y: -88px;
}
.catalog-container {
	padding-left: 215px;
	border-bottom: 1px solid rgb(241,241,241);
	border-left: 1px solid rgb(241,241,241);
	margin-right: 4px;
	background-color: #fff;
}
.search-catalog {
	height: 54px;
}
.search-catalog .search-catalog-block {
	width: 50%;
	position: relative;
	float: left;
}
.project-list {
	width: 50%;
	float: left;
}
.project-list .project-list-block {
	position: relative;
	margin: 4px 0px 0 4px;
	height: 50px;
	font-family: "Pt Sans";
	background-color: #fff;
}
.project-list ul {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	z-index: 50;
}
.project-list ul.project-all {
	height: auto;
}
.project-list li {
	height: 46px;
	border: 2px solid #000;
}
.project-list li .project-item {
	display: block;
	height: 46px;
	position: relative;
	cursor: pointer;
	line-height: 46px;
	padding: 0 20px;
	z-index: 10;
	background: #fff;
	font-size: 14px;
	letter-spacing: 1px;
}
.project-list li .project-item .project-item-count {
	color: rgb(153,153,153);
}
.project-list li .project-item .project-block-right {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 90px;
	height: 46px;
	z-index: 100;
	background-image: url(../images/bg_icon_arrow.png);
	background-position: right 18px;
	background-repeat: no-repeat;
}
.project-list li .project-item .project-block-right-hover {
	background-color: #fff;
	background-position: right 18px !important;
}
.project-list li .project-item .project-block-right .project-icon-count {
	position: absolute;
	right: 50px;
	top: 10px;
	width: 18px;
	height: 20px;
	background-color: rgb(242,106,40);
	border-radius: 50%;
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-size: 0.750em;
	border: 2px solid rgb(242,106,40);
}
.project-list li .project-item .project-block-right-hover .project-icon-count {
	background-color: #fff;
	color: #000;
}
.project-list li .project-item.project-active-hover {
	background-color: #000;
	color: #fff;
}
.project-list li .project-item.project-active-hover .project-block-right {
	background-position: right -24px;
}
.project-list li ul {
	position: absolute;
	top: 48px;
	left: -1px;
	right: 0;
	width: 100%;
	display: none;
	padding: 0 1px;
	background: #fff;
}
.project-list li:hover ul {
	display: block;
}
.project-list li ul li {
	border-top: none;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom: none;
}
.project-list li ul li.last-item {
	border-bottom: 2px solid #000;
}
.search-catalog input[type=text] {
	background-color: #fff;
	width: 100%;
	outline: none;
	height: 54px;
	line-height: 54px;
	font-size: 1.125em;
	font-family: "Pt Sans";
	padding: 0 55px 0 20px;
	color: #000;
	margin-right: 56px;
	border-left: 1px solid rgb(241,241,241);
	border-bottom: 1px solid rgb(241,241,241);
	border-right: none;
	border-top: none;
	box-sizing: border-box;
}
.search-catalog input[type=text]:focus {
	border-left: 1px solid rgb(67,246,176);
	border-bottom: 1px solid rgb(67,246,176);
	border-right: none;
	border-top: none;
}
.search-catalog button {
	cursor: pointer;
	border: none;
	outline: none;
	width: 54px;
	height:54px;
	box-sizing: border-box;
	line-height: 54px;
	font-size: 1em;
	font-family: "Roboto Condensed Bold";
	text-transform: uppercase;
	background: rgb(67,246,176) url(../images/icon_search.png) 12px center no-repeat;
	position: absolute;
	right: 0;
	top: 0;
}
.search-catalog button:hover {
	background: rgb(67,246,176) url(../images/icon_search.png) -60px center no-repeat;
}
.search-catalog ::-webkit-input-placeholder { font-family: "Pt Sans Italic"; font-size: 18px; color: #000; opacity: .50; filter: alpha(opacity=25); }
.search-catalog ::-moz-placeholder          { font-family: "Pt Sans Italic"; font-size: 18px; color: #000; opacity: .50; filter: alpha(opacity=25); }/* Firefox 19+ */
.search-catalog ::-moz-placeholder           { font-family: "Pt Sans Italic"; font-size: 18px; color: #000; opacity: .50; filter: alpha(opacity=25); }/* Firefox 18- */
.search-catalog ::-ms-input-placeholder      { font-family: "Pt Sans Italic"; font-size: 18px; color: #000; opacity: .50; filter: alpha(opacity=25); }

.icon {
	width: 17px;
	height: 19px;
	background: url(../images/table.png) center center no-repeat;
}
.filter-menu-category {
	margin: 8px 6px 0px 0;
	padding: 5px 0 0 12px  ;
	border-top: 1px solid rgb(234,234,234);
	color: rgb(166,166,166);
	position: relative;
}
.filter-menu-category .filter-menu-category-block-scroll {
	height: 209px;
}
.filter-menu-category li {
	position: relative;
}
.filter-menu-category-top {
	height: 0;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	background: transparent url(../images/bg_filter_params_top2.png) left top repeat-x;
	z-index: 200;
}
.filter-menu-category-bottom {
	height: 30px;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	background: url(../images/bg_filter_params_bottom2.png) left bottom repeat-x;
	z-index: 200;
}
.filter-menu-category li a {
	text-decoration: none;
	color: rgb(166,166,166);
	line-height: 30px;
	font-family: "PT Sans";
	font-size: 0.875em;
}
.filter-menu-category li a:hover {
	text-decoration: none;
	color: rgb(67,246,176);
}
.filter-menu-category li a.active {
	color: #000;
}
.filter-menu-category li a.active:hover:after {
	content: url(../images/filter_active_close.png);
	position: absolute;
	top: -10px;
}
.filter-menu-brands {
	padding-top: 0;
}
.filter-menu-brands li {
	display: block;
}
.filter-menu-brands li a {
	line-height: 50px;
	text-transform: uppercase;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: block;
	position: relative;
	z-index: 10;
	font-size: 0.750em;
	color: rgb(127,127,127);
	font-family: "Pt Sans";
	letter-spacing: 1px;
}
.filter-menu-brands li a.filter-item-parent .filter-submenu-icon {
	display: none;
	position: absolute;
	top: 0;
	right: 2px;
	height: 52px;
	width: 12px;
	line-height: 52px;
	background: url(../images/filter_submenu_icon.png) left center no-repeat;
}
.filter-menu-brands li a.filter-item-parent .filter-submenu-icon:hover {
	background: url(../images/filter_submenu_icon.png) -12px center no-repeat;
}
.filter-menu-brands li a.filter-item-parent:hover .filter-submenu-icon {
	display: block;
}
.filter-menu-brands li a.filter-item-parent.active-item .filter-submenu-icon {
	display: block;
	background: url(../images/filter_submenu_icon.png) -24px center no-repeat;
}
.filter-menu-brands li a:hover {
	border-top: 1px solid rgb(234,234,234);
	border-bottom: 1px solid rgb(234,234,234);
	color: rgb(166,166,166);
}
.filter-menu-brands li a.first-child:hover {
	border-top: 1px solid #fff;
	border-bottom: 1px solid rgb(234,234,234);
}
.filter-menu-brands li a.last-child:hover {
	border-bottom: 1px solid #fff;
	border-top: 1px solid rgb(234,234,234);
}
.filter-menu-brands li a.active-item:hover {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.filter-menu-brands .filter-menu-brands-block {
	font-family: "Pt Sans";
}
.filter-menu-brands li .filter-submenu-block {
	display: none;
}
.filter-menu-brands li .filter-submenu-block.active-item {
	display: block;
}
.filter-menu-brands li .filter-submenu-block a {
	line-height: 30px;
	cursor: pointer;
	border: none;
	text-transform: none;
	font-size: 0.875em;
	color: rgb(181,181,181);
}
.filter-menu-brands li .filter-submenu-block a.active {
	color: #000;
}
.filter-menu-brands li .filter-submenu-block a:hover {
	border: none;
	color: #000;
}
.filter-menu-brands li .filter-submenu-block .filter-submenu-block-choice_letter {
	
}
.filter-menu-brands li .filter-submenu-block .filter-submenu-block-choice_letter .choice-letter-block {
	border-bottom: 1px solid rgb(234,234,234);
	padding-bottom: 12px;
	margin-bottom: 10px;
}
.filter-menu-brands li .filter-submenu-block .filter-submenu-block-choice_letter span {
	padding-right: 14px;
	cursor: pointer;
	font-size: 0.875em;
}
.filter-menu-brands li .filter-submenu-block .filter-submenu-block-title {
	font-size: 0.875em;
	margin-bottom: 6px;
}
.filter-menu-brands li .filter-submenu-block .filter-submenu-wrapper {
	position: relative;
}
.filter-menu-brands li .filter-submenu-block .filter-submenu-block-choice_letter span:hover {
	color: rgb(67,246,176);
}
.filter-menu-brands li .filter-submenu-block .filter-submenu-block-choice_letter span.active {
	color: #000;
}
.filter-menu-options {
	margin-top: 0;
	padding-right: 0;
}
.filter-menu-options li .filter-submenu-left {
	width: 70px;
	float: left;
}
.filter-menu-options .filter-menu-brands-block {
	height: auto;
}
.filter-menu-options li .filter-submenu-right {
	width: 128px;
	float: left;
}
.select-option-block {
	margin: 6px 4px 20px 0;
}
.change-pagination {
	height: 32px;
	width: 66px;
}
.filter-submenu-right {
	padding-top: 6px;
}
.filter-options-icon span {
	width: 15px;
	height: 15px;
	line-height: 15px;
	float: right;
	cursor: pointer;
}
.filter-options-icon span.filter-options-smaller {
	margin-right: 10px;
	background: url(../images/bg_filter-options_icon.png) left center no-repeat;
}
.filter-options-icon span.filter-options-smaller:hover {
	background: url(../images/bg_filter-options_icon.png) -174px center no-repeat;
}
.filter-options-icon span.filter-options-smaller.active {
	background: url(../images/bg_filter-options_icon.png) -88px center no-repeat;
}
.filter-options-icon span.filter-options-bigger {
	background: url(../images/bg_filter-options_icon.png) -20px center no-repeat;
}
.filter-options-icon span.filter-options-bigger:hover {
	background: url(../images/bg_filter-options_icon.png) -194px center no-repeat;
}
.filter-options-icon span.filter-options-bigger.active {
	background: url(../images/bg_filter-options_icon.png) -108px center no-repeat;
}
.select-option-block-right {
	margin-top: 37px;
}
.change-pagination-three {
	width: 128px;
}
.filter-container .filter-options-submit {
	padding-bottom: 10px;
}
.filter-container .filter-options-submit a {
	box-sizing: border-box;
	width: 198px;
	margin-left: 3px;
	font-size: 13px;
}
.filter-container .filter-options-reset {
	text-align: center;
	margin-bottom: 20px;
}
.filter-container .filter-options-reset a {
	color: rgb(101,101,101);
	font-size: 0.813em;
	font-family: "Kelson Sans";
}
.catalog-items {
	padding-left: 10px;
	border-right: 1px solid rgb(237,237,237);
	border-left: 1px solid rgb(237,237,237);
	padding-bottom: 20px;
	background-color: #fff;
}
.catalog-items .search-result-block {
	color: rgb(197,197,197);
	font-family: "Kelson Sans";
	font-size: 0.875em;
	overflow: hidden;
}
.catalog-items .search-result-block .filter-chain {
	padding-top: 20px;
	float: left;
	font-family: "PT Sans";
}
.catalog-items .search-result-block .filter-chain-title {
	margin-right: 15px;
	padding-left: 10px;
}
.catalog-items .search-result-block a {
	text-decoration: none;
	color: rgb(197,197,197);
	font-family: "PT Sans";
	margin-right: 30px;
	position: relative;
}
.catalog-items .search-result-block a:after {
	position: absolute;
	width: 9px;
	height: 9px;
	content: url(../images/bg_search_result_icon.png);
	top: -5px;
}
.catalog-items .search-result-block a:hover:after {
	content: url(../images/bg_search_result_icon_hover.png);
}
.catalog-items .search-result-block a:active:after {
	content: url(../images/bg_search_result_icon_active.png);
}
.catalog-items .search-result-block .search-result-count {
	float: right;
	padding-top: 20px;
	padding-right: 15px;
	color: #000;
}
.catalog-items .catalog-items-left {
	margin-left: 8%;
	width: 42%;
	float: left;
	max-width: 530px;
	margin-top: 60px;
}
.catalog-items .catalog-section {
	overflow: hidden;
	margin-bottom: 50px;
}
.catalog-section .catalog-section-image {
	float: left;
	margin-right: 20px;
}
.catalog-section .catalog-section-info {
	padding-left: 100px;
}
.catalog-section .section-title a {
	font-family: "Roboto Condensed Light";
	font-size: 1.500em;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}
.catalog-section .section-item {
	margin-top: 20px;
	line-height: 24px;
}
.catalog-section .section-item a {
	color: rgb(181,181,181);
	font-size: 0.813em;
	text-transform: uppercase;
	text-decoration: none;
	padding-right: 15px;
	font-family: "Pt Sans";
}
.catalog-section .section-item a:hover {
	text-decoration: underline;
}
.catalog-block {
	margin-top: 20px;
	margin-left: 10px;
	overflow: hidden;
	position: relative;
}
.catalog-block ul {
	position: relative;
	overflow: hidden;
}
.catalog-block li {
	float: left;
	height: 246px;
	text-align: center;
	margin-right: 25px;
	margin-bottom: 25px;
	position: relative;
	z-index: 10;
	cursor: pointer;
	width: 246px;
	line-height: 246px;
	box-sizing: border-box;
}
.catalog-block li img {
	width: 80%;
    vertical-align: middle;
}
.catalog-block li .overview {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 50;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	border: 1px solid rgb(197,197,197);
}
.catalog-block li:hover .overview  {
	display: block;
}
.catalog-block li .overview-opacity {
	background: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.catalog-block .catalog-next {
	position: absolute;
	right: 0;
	bottom: 0;
}
.catalog-block .catalog-next a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	font-family: "Roboto Condensed Light";
	font-size: 2.750em;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid rgb(240,238,238);
	box-sizing: border-box;
	color: #000;
}
.catalog-block .catalog-next a:hover {
	background-color: rgb(246,246,246)
}
.catalog-block .catalog-next a span.text-next {
	position: absolute;
	bottom: 4px;
	left: 8px;
}
span.icon-next {
	position: absolute;
	bottom: 4px;
	right: 4px;
	width: 14px;
	height: 14px;
	background: url(../images/icon_catalog_next.png) center top no-repeat;
}
.model-free {
	position: absolute;
	right: 0;
	top: 10px;
	width: 28px;
	height: 13px;
	background: url(../images/icon_free.png) center center no-repeat;
}
.overview .overview-content {
	position: absolute;
	height: 100%;
	min-height: 100%;
	z-index: 200;
}
.overview .overview-title {
	width: 70%;
	margin: 0 auto;
	font-family: "Roboto Condensed Light";
	font-size: 0.813em;
	text-transform: uppercase;
	line-height: 1.125em;
	margin-top: 60px;
}
.overview .overview-title {
	width: 70%;
	margin: 0 auto;
	font-family: "Roboto Condensed Light";
	text-transform: uppercase;
	margin-top: 60px;
	z-index: 100;
}
.overview .overview-title a {
	font-family: "Roboto Condensed Light";
	font-size: 1em;
	text-transform: uppercase;
	line-height: 1.125em;
	text-decoration: none;
	color: #000;
}
.overview .overview-title a:hover {
	color: rgb(42,149,244);
}
.overview .overview-choice {
	position: absolute;
	top: 10px;
	left: 0;
	height: 19px;
	width: 100%;
	right: 0;
	background: url(../images/icon_models_circle.png) center top no-repeat;
}
.overview .overview-choice-active {
	background: url(../images/icon_models_circle_orange.png) center top no-repeat;
}
.overview .overview-info {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 37px;
	background: rgb(246,246,246);
	font-family: "PT Sans";
	font-size: 0.875em;
}
.overview .overview-comment {
	float: right;
	background: url(../images/icon_overview_comment_grey.png) left bottom no-repeat;
	padding-left: 16px;
	color: rgb(153,153,153);
	margin-right: 14px;
	margin-top: 12px;
	z-index: 300;
	height: 14px;
	line-height: 14px;
}
.overview .overview-download {
	float: right;
	background: url(../images/icon_overview_comment_grey.png) -35px bottom no-repeat;
	padding-left: 16px;
	color: rgb(153,153,153);
	margin-right: 14px;
	margin-top: 12px;
	z-index: 300;
	height: 14px;
	line-height: 14px;
}
.overview .overview-comment:hover {
	background: url(../images/icon_overview_comment.png) left bottom no-repeat;
}
.overview .overview-download:hover {
	background: url(../images/icon_overview_download.png) left bottom no-repeat;
}
.overview .overview-comment:hover, .overview .overview-download:hover {
	color: rgb(42,149,244);
}
.overview .overview-add {
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -18px;
	width: 37px;
	height: 37px;
	background: url(../images/icon_models_add.png) center center no-repeat;
}
.overview .overview-add:hover {
	background: url(../images/icon_models_add_orange.png) center center no-repeat;
}
.qtip-content {
	font-size: 1em;
	line-height: 1.125em;
}
.qtip-content b, .qtip-content strong {
	font-family: "Pt Sans Bold";
}
.pagination-block {
	text-align: center;
	margin: 20px 0;
}
.pagination-block ul {
	overflow: hidden;
}
.pagination-block li {
	display: inline-block;
	padding: 6px;
}
.pagination-block li a {
	display: block;
	padding: 2px 8px;
	line-height: 18px;
	height: 18px;
	border: 1px solid rgb(210,210,210);
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	transition: none;
}
.pagination-block li a:hover {
	border: 1px solid rgb(67,246,176);
	background-color: rgb(67,246,176);
	color: #000;
}
.pagination-block .pagination-prev a, .pagination-block .pagination-next a {
	background-image: url(../images/icon_pagination_prev.png);
	background-position: center 2px;
	background-repeat: no-repeat;
	padding-right: 10px;
	padding-left: 10px;
}
.pagination-block .pagination-prev a:hover {
	background-position: center -25px;
}
.pagination-block .pagination-active a {
	border: 2px solid rgb(150,150,150);
	line-height: 16px;
	height: 16px;
}
.pagination-block .pagination-active a:hover {
	border: 2px solid rgb(150,150,150);
}
.pagination-block .pagination-next a {
	background-image: url(../images/icon_pagination_next.png);
	background-position: center 1px;
}
.pagination-block .pagination-next a:hover {
	background-position: center -28px;
}
.left-menu {
	margin: 50px 10px 0 12px;
	font-family: "Pt Sans";
	font-size: 0.750em;
}
.left-menu .left-menu-title {
	text-transform: uppercase;
	border-bottom: 1px solid rgb(204,204,204);
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.left-menu li {
	font-size: 1.167em;
	line-height: 32px;
}
.left-menu a {
	color: #000;
	text-decoration: none;
	font-size: 1em;
	line-height: 24px;
	opacity: .5;
	filter: alpha(opacity=50);
}
.left-menu a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.personal-comment {
	font-family: "Pt Sans";
	font-size: 0.750em;
}
.personal-comment h1 {
	margin-top: 0;
	padding-top: 80px;
}
.personal-comment .personal-comment-title {
	color: rgb(164,164,164);
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	line-height: 18px;
	width: 230px;
	padding: 10px 0;
}
.personal-comment .personal-comment-title.filter-comment {
	text-align: left;
}
.personal-comment .personal-comment-title a {
	color: rgb(164,164,164);
	position: relative;
}
.personal-comment .personal-comment-title .personal-comment-sort {
	padding-right: 10px;
	background: url(../images/icon_date_arrow.png) right 2px no-repeat;
}
.personal-comment .personal-comment-title .personal-comment-sort.up {
	padding-right: 10px;
	background: url(../images/icon_date_arrow.png) right -17px no-repeat;
}
.personal-comment .calendar_button {
	text-transform: none;
	color: #000;
	cursor: pointer;
}
.personal-comment .personal-comment-date {
	width: 200px;
}
.personal-comment table {
	width: 90%;
	margin: 0 auto 60px;
}
.personal-comment table tr {
	border: 1px solid rgb(241,241,241);
}
.personal-comment table.through-line tr:hover {
	background-color: rgb(243,243,243);
	opacity: .8;
	filter: alpha(opacity=80);
}
.personal-comment table.through-line tr:nth-child(odd) {
	background-color: rgb(232,232,232);
	opacity: .8;
	filter: alpha(opacity=80);
}
.personal-comment table.through-line tr:nth-child(odd) .action {
	border: 1px solid rgb(232,232,232);
}
.personal-comment table.through-line tr:nth-child(odd) .action-model-add {
	border: none;
}
.personal-comment table.through-line tr:hover .action {
	border: 1px solid rgb(243,243,243);
}
.personal-comment table.through-line tr:hover .action-model-add {
	border: none;
}
.personal-comment table.through-line tr:first-child {
	background-color: #fff;
}
.personal-comment table tr.first {
	border: none;
}
.personal-comment table td {
	padding: 30px 0;
}
.personal-comment .personal-comment-date {
	font-size: 13px;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.personal-comment .personal-comment-item {
	font-size: 14px;
	vertical-align: middle;
}
.personal-comment .personal-comment-item img {
	max-width: 116px;
	width: auto;
	height: auto;
	max-height: 116px;
	float: left;
	margin-right: 10px;
}
.personal-comment .personal-comment-item .model-name {
	padding-top: 8px;
}
.personal-comment .personal-comment-item a.blue {
	color: rgb(47,151,244);
	text-decoration: underline;
	text-transform: uppercase;
}
.personal-comment .personal-comment-item .model-name a.blue {
	text-transform: none;
}
.personal-comment .personal-comment-item a.blue:hover {
	text-decoration: none;
}
.personal-comment .personal-comment-answer {
	color: rgb(164,164,164);
	text-transform: uppercase;
	font-size: 0.800em;
	padding-top: 6px;
	padding-left: 25px;
	margin-top: 3px;
	background: url(../images/icon_personal_arrow.png) left center no-repeat;
	letter-spacing: 2px;
}
.personal-comment .personal-comment-answer .personal-comment-status {
	color: rgb(22,203,132);
}
.personal-comment .personal-comment-hours {
	display: block;
	color: rgb(164,164,164);
	letter-spacing: 1px;
}
.personal-comment .calendar {
	font-size: 1.167em;
}
.personal-comment .personal-comment-link {
	color: rgb(164,164,164);
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 0.800em;
}
.personal-comment .personal-comment-text {
	display: block;
	line-height: 18px;
	margin-top: 3px;
}
.personal-comment .personal-comment-text a {
	color: #000;
}
.personal-comment .personal-comment-text-answer {
	margin-left: 25px;
}
.personal-comment-form {
	width: 680px;
	margin: 0 auto;
	padding-top: 30px;
}
.personal-comment-form .personal-comment-form-title {
	width: 200px;
	float: left;
	font-family: "Pt Sans Bold";
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 36px;
	margin-bottom: 6px;
}
.personal-comment-form .personal-comment-form-choice {
	width: 480px;
	float: left;
	text-align: right;
	margin-bottom: 6px;
}
.progressbar-complete {
	height: 13px;
	position: relative;
	background-color: rgb(87,238,179);
}
.progressbar-complete span.progress-background {
	position: absolute;
	left: 0;
	right: 0;
	height: 13px;
	background-color: rgb(241,241,241);
	width: auto;
}
.progressbar-complete span.progress-arrow {
	position: absolute;
	left: -4px;
	top: -5px;
	width: 7px;
	height: 5px;
	background: url(../images/icon_progressbar_arrow.png) center center no-repeat;
}
.progressbar-complete-title {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 8px;
	font-size: 0.917em;
	color: rgb(171,171,171);
}
.profile .profile-change-password {
	text-align: center;
	margin-bottom: 60px;
}
.profile .profile-change-password a {
	font-size: 10px;
	text-transform: uppercase;
	color: rgb(172,172,172);
}
.profile .profile-subheader {
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	padding-bottom: 10px;
}
.history-pay .title-date {
	min-width: 200px;
}
.history-pay .title-date, .history-pay .personal-comment-date {
	padding-right: 20px;
}
.history-pay .personal-comment-item {
	text-align: center;
	text-transform: uppercase;
}
.history-pay .personal-comment-title span.title-subheader {
	display: block;
	text-transform: none;
}
.help-block  {
	margin-right: 226px;
	font-family: "Pt Sans";
}
.help-block .help-descr {
	width: ;
	text-align: center;
	font-size: 14px;
	color: rgb(163,163,163);
}
.help-block .help-container {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
	line-height: 24px;
}
.help-block .help-list {
	text-align: center;
	margin-top: 70px;
}
.help-block .help-list-themes-link {
	text-transform: uppercase;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	letter-spacing: 1px;
}
.help-block .help-list-themes-link span {
	border-bottom: 1px dashed #000;
}
.help-block .help-list-themes {
	margin-bottom: 25px;
}
.help-block .help-list-themes-link {
	padding-right: 30px;
	background: url(../images/icon_help_arrow.png) right top no-repeat;
}
.help-block .help-list-themes-link.help-list-themes-link-opened {
	background: url(../images/icon_help_arrow.png) right -34px no-repeat;
}
.help-block .help-list-themes-link:hover span {
	border-bottom: none;
}
.help-block .help-list-item-block {
	display: none;
	margin-top: 20px;
	padding-bottom: 30px;
}
.help-block .help-list-item-block li {
	padding: 8px 0;
}
.help-block .help-list-item-block.help-list-item-block-opened {
	display: block;
}
.help-block .help-list-item-link {
	padding-right: 20px;
	background: url(../images/icon_help_item_arrow.png) right 5px no-repeat;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	transition: none;
}
.help-block .help-list-item-link span {
	border-bottom: 1px dashed #000;
}
.help-block .help-list-item-link:hover {
	color: rgb(72,163,244);
	background: url(../images/icon_help_item_arrow.png) right -29px no-repeat;	
}
.help-block .help-list-item-link:hover span {
	border-bottom: 1px dashed rgb(72,163,244);
}
.help-list-item-content {
	display: none;
}
.help-list-item-content .help-detail-date {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.813em;
	font-family: "Pt Sans";
	margin-bottom: 30px;
}
.help-list-item-content {
	text-align: left;
	font-family: "Pt Sans";
}
.help-list-item-content h1 {
	margin-top: 0;
	padding: 0 30px;
}
.help-list-item-content h1:after {
	margin-bottom: 10px;
}
.help-list-item-content h2 {
	font-family: "Pt Sans Bold";
	font-size: 24px;
	margin-bottom: 20px;
	margin-top: 0;
	text-align: left;
}
.help-list-item-content h2:after {
	content: '';
	margin: 0;
	padding: 0;
}
.help-list-item-content h3 {
	font-family: "Pt Sans";
	font-size: 25px;
	margin-bottom: 10px;
	font-style: italic;
	margin-top: 0;
	text-align: left;
	color: rgb(129,129,129);
}
.help-list-item-content {
	font-size: 16px;
	line-height: 24px;
}
.help-list-item-content p {
	margin-bottom: 30px;
}
.help-list-item-content .help-detail-useful {
	color: rgb(172,172,172);
	text-transform: uppercase;
	font-size: 13px;
	text-align: right;
}
.help-list-item-content .help-detail-useful-yes, .help-list-item-content .help-detail-useful-no {
	border: 1px solid #000;
	padding: 3px 8px;
	text-transform: none;
	display: inline-block;
	line-height: 14px;
	font-size: 12px;
	margin-left: 15px;
	cursor: pointer;
	color: #000;
}
.help-list-item-content .help-detail-useful-yes:hover {
	background-color: rgb(65,241,131);
	border: 1px solid rgb(65,241,131);
}
.help-list-item-content .help-detail-useful-no {
	margin-left: 5px;
}
.help-list-item-content .help-detail-useful-no:hover {
	background-color: rgb(249,114,67);
	border: 1px solid rgb(249,114,67);
}
.model-comment {
	background: url(../images/icon_comment_grey.png) left 3px no-repeat;
	padding-left: 16px;
	color: #000;
	margin-right: 14px;
	margin-top: 12px;
	height: 14px;
	cursor: pointer;
	display: inline-block;
}
.project-block.personal-comment .personal-comment-item {
	vertical-align: baseline;
	padding-right: 15px;
	line-height: 18px;
}
.project-block.personal-comment .personal-comment-item.personal-comment-add{
	vertical-align: middle;
}
.project-block.personal-comment .personal-comment-title {
	padding-right: 15px;
}
.project-block.personal-comment .title-date {
	min-width: 140px;
}
.project-block.personal-comment .personal-comment-title.model-name-td {
	width: 300px;
	min-width: 250px;
}
.success {
	width: 490px;
	margin: 10% auto 0;
}
.success-header {
	margin-top: 50px;
	text-transform: uppercase;
	font-family: "Kelson Sans";
	font-size: 27px;
	line-height: 36px;
}
.success-header span {
	text-transform: none;
	font-family: "Kelson Sans Light";
}
.success .heard-grey {
	margin-top: 25px;
}
.success-text {
	margin-top: 30px;
	font-family: "Pt Sans";
	font-size: 16px;
	line-height: 24px;
}
.success-next {
	margin-top: 20px;
}
.modal-overflow {
	position: fixed;
	display: block;
	width: auto;
	top: 0;
	left: 0;
	right: -16px;
	bottom: 0;
	height: auto;
	background: rgba(255, 255, 255, 0.498039);
	z-index: 8000;
	overflow: auto;
}
.modal-content {
	position: absolute;
	top: 20px;
	left: 3%;
	right: 3%;
	background: #fff;
	height: auto;
	padding: 15px;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.78);
	-moz-box-shadow:    0px 2px 10px 0px rgba(50, 50, 50, 0.78);
	box-shadow:         0px 2px 10px 0px rgba(50, 50, 50, 0.78);
}
.modal-content.modal-fixed {
	width: 1270px;
	margin: 0 auto;
	position: relative;
	left: 0;
	right: 0;
}
.collage {
	position: relative;
}
.collage .project-list {
	float: none;
	margin: 0 auto;
	width: 450px;
}

.collage .project-list li .project-item {
	overflow: hidden;
}
.collage .project-list li .project-item.active-first {
	text-transform: uppercase;
	font-size: 19px;
}
.collage li .project-item .project-block-right .project-icon-count {
	font-size: 12px;
}

.collage .collage-title {
	font-size: 14px;
	color: #000;
	opacity: .4;
	filter: alpha(opacity=40);
	position: absolute;
	left: 0;
	top: 0;
	width: 380px;
	line-height: 18px;
	letter-spacing: 1px;
}
.collage .collage-title a {
	color: #000;
}
.collage .collage-close {
	position: absolute;
	width: 37px;
	height: 37px;
	right: 10px;
	top: 0px;
	background-image: url(../images/icon_modal_close.png);
	background-repeat: no-repeat;
	background-position: 9px 9px;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: none;
}
.collage .collage-close:hover {
	background-position: -31px 9px;
	border: 1px solid rgb(51,51,51);
}
.collage .action-add {
	position: absolute;
	right: 52px;
	top: 2px;
	background: url(../images/icon_collage_add.png) center center no-repeat;
	border: 1px solid #fff;
	border-radius: 50%;
}
.collage .action-add:hover {
	background: url(../images/icon_collage_add.png) center center no-repeat;
	border: 1px solid rgb(51,51,51);
}
.collage .collage-content {
	border: 2px solid rgb(214,214,214);
	margin-top: 20px;
	height: 700px;
}
.collage .collage-left {
	float: left;
	width: 300px;
	height: 700px;
	box-sizing: border-box;
	padding: 6px;
	border-right: 1px solid rgb(214,214,214);
	position: relative;
	overflow: hidden;
	z-index: 20;
}
.collage .collage-right {
	padding-left: 310px;
	position: relative;
	z-index: 10;
}
.collage .filter-menu-category-block-scroll {
	
}
.collage .collage-image {
	height: 700px;
}
.collage .collage-image ul {
	overflow: hidden;
}
.collage .collage-image li {
	float: left;
	width: 118px;
	margin: 0 8px;
}
.collage .collage-image img {
	width: 100%;
	height: auto;
	max-height: 90px;
}
.collage .collage-image .model-item {
	cursor: move;
	display: block;
	position: relative;
	z-index: 10;
	padding: 20px 0;
	width: 118px;
}
.collage .main-image {
	position: absolute;
	top: 30px;
	left: 50%;
	overflow: hidden;
}
.collage .model-item span {
	position: absolute;
	z-index: 20;
	cursor: pointer;
	display: none;
}
.collage .model-item:hover span {
	display: block;
}
.collage .model-item span.model-info {
	left: 0;
	top: 0;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid rgb(102,102,102);
	color: #000;
	text-align: center;
	line-height: 25px;
	font-family: "Roboto Condensed Light";
	font-size: 12px;
}
.collage .model-item span.model-info:hover {
	border: 1px solid rgb(242,106,40);
	background: rgb(242,106,40);
	color: #fff;
}
.collage .model-item span.model-delete {
	right: 0;
	top: 0;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid rgb(102,102,102);
	background: url(../images/icon_collage_delete.png) center 8px no-repeat;
}
.collage .model-item span.model-delete:hover {
	border: 1px solid rgb(242,106,40);
	background: rgb(242,106,40) url(../images/icon_collage_delete.png) center -14px no-repeat;
}
.collage .model-item span.model-download {
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 26px;
	line-height: 26px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid rgb(67,246,234);
	color: #000;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}
.collage .model-item span.model-download:hover {
	background: rgb(67,246,234);
}
.collage .model-item span.model-pay {
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 26px;
	line-height: 26px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid #000;
	color: #000;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}
.collage .model-item span.model-pay:hover {
	background: #000;
	color: #fff;
}
.collage .detail-catalog-slider li {
	width: 310px;
	height: 165px;
	position: relative;
}
.collage .detail-catalog-slider img {
	max-width: 310px;
	max-height: 165px;
	cursor: move;
}
.collage .collage-rotate {
	position: absolute;
	bottom: 40px;
	left: 400px;
	width: 350px;
	padding: 20px;
	text-align: center;
}
.collage .collage-model {
	position: absolute;
	right: 30px;
	bottom: 120px;
}
.collage .collage-rotate img {
	max-width: 350px;
	height: auto;
}
.collage .collage-help {
	position: absolute;
	left: 320px;
	bottom: 10px;
}
.collage .collage-help a {
	font-family: "Pt Sans";
	font-size: 13px;
	color: rgb(22,136,237);
	letter-spacing: 1px;
}
.collage .collage-save {
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.collage .collage-save a {
	display: block;
	width: 180px;
	height: 26px;
	background-color: rgb(242,106,40);
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	line-height: 26px;
	text-decoration: none;
	border: 2px solid rgb(242,106,40);
}
.collage .collage-save a:hover {
	background-color: #fff;
	color: rgb(242,106,40);
}
.collage .collage-edit {
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.collage .collage-edit a {
	display: block;
	width: 180px;
	height: 26px;
	background-color: rgb(242,106,40);
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	line-height: 26px;
	text-decoration: none;
	border: 2px solid rgb(242,106,40);
}
.collage .collage-edit a:hover {
	background-color: #fff;
	color: rgb(242,106,40);
}
.collage .collage-download {
	position: absolute;
	right: 220px;
	bottom: 10px;
}
.collage .collage-download a {
	display: block;
	width: 180px;
	height: 26px;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	line-height: 26px;
	text-decoration: none;
	border: 2px solid #000;
	color: #000;
}
.collage .collage-download a:hover {
	background-color: #000;
	color: #fff;
}
.collage .collage-print {
	position: absolute;
	right: 410px;
	bottom: 6px;
	width: 38px;
	height: 38px;
}
.collage .model-info-big {
	position: absolute;
	left: 0;
	top: -10px;
	width: 37px;
	height: 37px;
	background: url(../images/icon_collage.png) left center no-repeat;
	cursor: pointer;
}
.collage .model-info-big:hover {
	background: url(../images/icon_collage.png) -129px center no-repeat;
}
.collage .model-resize-big {
	position: absolute;
	left: 70px;
	top: -10px;
	width: 37px;
	height: 37px;
	background: url(../images/icon_collage.png) -74px center no-repeat;
	cursor: pointer;
}
.collage .model-resize-big:hover {
	background: url(../images/icon_collage.png) -180px center no-repeat;
}
.collage .model-delete-big {
	position: absolute;
	right: 0px;
	top: -10px;
	width: 37px;
	height: 37px;
	background: url(../images/icon_collage.png) right center no-repeat;
	cursor: pointer;
}
.collage .model-delete-big:hover {
	background: url(../images/icon_collage.png) -234px center no-repeat;
}
.collage .model-info-action {
	position: absolute;
	top: 50%;
	margin-top: -31px;
	height: 62px;
	width: 30px;
	background-image: url(../images/icon_arrow_slider.png);
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: 100%;
	overflow: hidden;
	transition: none;
}
.collage .model-info-left {
	left: -35px;
}
.collage .model-info-right {
	right: -35px;
	background-position: left -62px;
}
.collage .model-info-move {
	cursor: move;
}
.collage .model-info-left:hover {
	background-position: -67px top;
}
.collage .model-info-right:hover {
	background-position: -66px -61px;
}
.collage .model-download-big {
	font-size: 12px;
	font-weight: bold;
	padding: 0 20px;
	background: rgb(67,246,234);
	text-transform: uppercase;
	line-height: 44px;
	display: inline-block;
	cursor: pointer;
	border: 2px solid rgb(67,246,234);
}
.collage .model-download-big:hover {
	background: #fff;
}
.collage .project-list li.collage-first {
	border: 2px solid #fff; 
}
.collage .project-list li.collage-first:hover {
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	border-top: 2px solid #000;
}
.collage .collage-resize-window {
	position: absolute;
	left: 301px;
	width: 20px;
	height: 37px;
	top: 50%;
	margin-top: -18px;
	background: url(../images/icon_collage_resize_window.png) -19px center no-repeat;
	z-index: 100;
	cursor: pointer;
}
.collage .collage-resize-window:hover {
	background: url(../images/icon_collage_resize_window.png) -83px center no-repeat;
}
.collage.collage-small .collage-left {
	width: 180px;
}
.collage.collage-small .collage-resize-window {
	left: 181px;
}
.collage.collage-small .collage-rotate {
	left: 230px;
}
.collage.collage-small .main-image {
	right: 230px;
}
.collage .collage-left.collage-left-wide {
	float: none;
	margin-right: 210px;
	width: auto;
	z-index: 10;
}
.collage .collage-right.collage-right-narrow {
	width: 210px;
	padding-left: 0;
	float: right;
	z-index: 20;
}
.collage .collage-right.collage-right-narrow .collage-model {
	width: 100%;
	overflow: hidden;
	left: 0;
}
.collage .collage-right.collage-right-narrow .collage-edit {
	position: absolute;
	left: 13px;
	bottom: 10px;
}
.collage .collage-resize-window-wide {
	position: absolute;
	right: 210px;
	width: 20px;
	height: 37px;
	top: 50%;
	margin-top: -18px;
	background: url(../images/icon_collage_resize_window.png) 0 center no-repeat;
	z-index: 100;
	cursor: pointer;
}
.collage .collage-resize-window-wide:hover {
	background: url(../images/icon_collage_resize_window.png) -64px center no-repeat;
}
.collage .noadd a img {
	opacity: .2;
	filter:alpha(opacity=20);
}
.collage .noadd a:hover img {
	opacity: 1;
	filter:alpha(opacity=100);
}
.collage .add .model-free {
	display: block;
}
.collage .collage-image .noadd .model-item  {
	cursor: pointer;
}
.collage.collage-auth .collage-content {
	height: 900px;
}
.collage.collage-auth .project-list {
	width: 500px;
	position: relative;
}
.collage.collage-auth .project-list .project-list-block {
	margin-left: 110px;
}
.collage.collage-auth .project-list-title {
	position: absolute;
	left: 0;
	font-family: "Pt Sans Bold";
	text-transform: uppercase;
	font-size: 16px;
	top: 18px;
}
.collage h2.simple {
	font-size: 24px;
}
.collage .registration.form-container label {
	text-align: center;
}
.collage .registration.form-container label.block-left {
	text-align: left;
	font-size: 12px;
	line-height: 18px;
}
.collage .advantages {
	padding-top: 20px;
}
.collage .collage-auth-title {
	margin: 40px 0 60px 0;
	font-size: 18px;
	text-align: center;
	font-family: "Pt Sans";
}
.collage.collage-add .project-list {
	height: 30px;
}
.collage .project-add {
	width: 470px;
	position: relative;
	overflow: visible;
}
.collage .project-add-icon {
	text-align: center;
	margin-top: 60px;
}
.collage.collage-add h2 {
	font-family: "Kelson Sans";
	font-size: 27px;
	letter-spacing: 0;
}
.collage.collage-add label {
	font-family: "Kelson Sans Light";
}
.collage.collage-add .project-add-row {
	margin-top: 0;
}
.collage.collage-add .project-add-description {
	position: absolute;
	top: 74px;
	left: 530px;
	width: 220px;
	font-family: "Pt Sans";
	font-size: 18px;
	line-height: 24px;
	color: rgb(116,116,116);
}
.collage.collage-add .project-add-description .blue:hover {
	color: rgb(98,176,245);
}
.collage .project-add-footer {
	font-family: "Pt Sans";
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: rgb(160,160,160);
}
.collage .project-list h2 {
	font-family: "Roboto Condensed";
	font-weight: 700;
	font-size: 36px;
	margin-top: 0;
	letter-spacing: 1px;
}
.collage.collage-help .project-list {
	height: 50px;
}
.collage .collage-help-close {
 	position: absolute;
	width: 260px;
	height: 51px;
	right: 0px;
	top: 0px;
	background-image: url(../images/icon_help_close.png);
	background-repeat: no-repeat;
	background-position: 240px center;
	border: 2px solid rgb(72,163,244);
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Pt Sans Bold";
	font-size: 17px;
	line-height: 24px;
	padding: 8px 0 2px 10px;
	transition: none;
}
.collage .collage-help-close:hover {
	background-color: rgb(72,163,244);
	color: #fff;
	background-position: -120px center;
}
.collage .collage-help-left {
	width: 55%;
	float: left;
	padding-top: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	position: relative;
}
.collage .collage-help-right {
	width: 45%;
	float: left;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 80px;
	box-sizing: border-box;
}
.collage .collage-help-item {
	position: relative;
	float: left;
}
.collage .collage-help-item  .collage-help-title {
	font-family: "Kelson Sans";
	font-size: 27px;
	line-height: 44px;
	text-transform: uppercase;
	padding-left: 82px;
}
.collage .collage-help-first {
	width: 50%;
}
.collage .collage-help-first:before {
	content: url(../images/icon_help_1.png);
	position: absolute;
	left: 0;
	top: 6px;
}
.collage .collage-help-item .collage-help-text {
	padding-left: 82px;
	font-family: "Pt Sans";
	font-size: 17px;
	line-height: 24px;
	color: rgb(162,162,162);
	z-index: 20;
	position: relative;
}
.collage .collage-help-item.collage-help-third img {
	width: 100%;
}
.collage .collage-help-second {
	width: 50%;
}
.collage .collage-help-second:before {
	content: url(../images/icon_help_2.png);
	position: absolute;
	left: 0;
	top: 6px;
}
.collage  .collage-help-big-image {
	position: absolute;
	top: 220px;
	width: 100%;
}
.collage  .collage-help-big-image img {
	width: 100%;
}
.collage .collage-help-first .collage-help-text {
	width: 200px;
}
.collage .collage-help-third {
	float: none;
}
.collage .collage-help-third:before {
	content: url(../images/icon_help_3.png);
	position: absolute;
	left: 0;
	top: 6px;
}
.collage .collage-help-forth {
	float: none;
	padding-top: 20px;
	position: relative;
}
.collage .collage-help-forth:before {
	content: url(../images/icon_help_4.png);
	position: absolute;
	left: 0;
	top: 6px;
}
.collage .collage-help-big-image-2 {
	position: absolute;
	right: 6px;
}
.block-title {
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	color: rgb(153,153,153);
	margin-left: 6px;
}
.icon_404 {
	padding-top: 50px;
}
.title-html, .title-html a {
	line-height: 18px;
}
.collage.collage-help-1024 {
	width: 1024px;
}
.collage.collage-help-1024 .collage-help-item .collage-help-title {
	font-size: 19px;
	line-height: 30px;
	padding-left: 60px;
}
.collage.collage-help-1024 .collage-help-item .collage-help-text {
	font-size: 15px;
	padding-left: 60px;
}
.collage.collage-help-1024 .collage-help-right {
	padding-left: 30px;
}
.collage.collage-help-1024 .collage-help-first .collage-help-text {
	width: 150px;
}
.collage.collage-help-1024 .collage-help-left {
	width: 60%;
}
.collage.collage-help-1024 .collage-help-right {
	width: 40%;
}
.collage.collage-help-1024 .collage-help-big-image {
	top: 200px;
}
.collage.collage-help-1024 .collage-help-item.collage-help-third img {
	width: auto;
	margin-left: -40px;
}
.collage.collage-help-1024 .collage-help-first:before {
	content: url(../images/icon_help_1_1.png)
}
.collage.collage-help-1024 .collage-help-second:before {
	content: url(../images/icon_help_2_1.png)
}
.collage.collage-help-1024 .collage-help-third:before {
	content: url(../images/icon_help_3_1.png)
}
.collage.collage-help-1024 .collage-help-forth:before {
	content: url(../images/icon_help_4_1.png);
	top: 26px;
}
.collage.collage-help-1024 .collage-help-big-image-2 {
	top: 220px;
}