@font-face {
    font-family: 'Roboto Condensed';
    src: url('fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bold Condensed';
    src: url('fonts/RobotoCondensedBold.eot');
    src: url('fonts/RobotoCondensedBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoCondensedBold.woff') format('woff'),
         url('fonts/RobotoCondensedBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('fonts/RobotoCondensedLight.eot');
    src: url('fonts/RobotoCondensedLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoCondensedLight.woff') format('woff'),
         url('fonts/RobotoCondensedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Kelson Sans';
    src: url('fonts/kelson_sans_regular_ru.eot');
    src: url('fonts/kelson_sans_regular_ru.eot?#iefix') format('embedded-opentype'),
         url('fonts/kelson_sans_regular_ru.woff') format('woff'),
         url('fonts/kelson_sans_regular_ru.ttf') format('truetype');
}
@font-face {
    font-family: 'Kelson Sans Bold';
    src: url('fonts/kelson_sans_bold_ru.eot');
    src: url('fonts/kelson_sans_bold_ru.eot?#iefix') format('embedded-opentype'),
         url('fonts/kelson_sans_bold_ru.woff') format('woff'),
         url('fonts/kelson_sans_bold_ru.ttf') format('truetype');
}
@font-face {
    font-family: 'Pt Sans';
    src: url('fonts/PTS55F.eot');
    src: url('fonts/PTS55F.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTS55F.woff') format('woff'),
         url('fonts/PTS55F.ttf') format('truetype');
}