html, body {
    height: 100%;
}
body {
	background: #fff url(../images/bg_body.png) repeat;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 100%;
}
h1, h2 {
	font-family:"Roboto Condensed Light";
	text-transform: uppercase;
	font-size: 44px;
	text-align: center;
	padding-top: 80px;
	letter-spacing: 6px;
	line-height: 56px;
}
h1:after, h2:after {
	content: url(../images/devider.png);
	display: block;
	/*margin-top: 30px;*/
	margin-bottom: 40px;
}
h1.simple:after, h2.simple:after {
	content: '';
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}
h2.simple {
	font-size: 1.875em;
	margin-top: 20px;
}
a {
	transition: all 0.5s ease;
	transition-delay: 0.1s;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	color: rgb(47,151,244);
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: rgb(172,172,172);
}
a.blue {
	color: rgb(47,151,244);
	text-decoration: underline;
}
a.blue:hover {
	text-decoration: none;
}
a.grey {
	color: #000;
	text-decoration: none;
}
a.grey:hover {
	text-decoration: underline;
}
i, em {
	font-style: italic;
}
b, strong {
	font-weight: 700;
}
.wrapper {
    min-height: 100%;
    min-width: 1000px;
    margin: 0 auto -300px auto;
}
.content {
	
}
.buffer {
    height: 300px;
}
.footer {
	background: #000 url(../images/bg_footer.png) right bottom no-repeat;
	color: #000;
	height: 300px;
    min-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.hidden {
	display: none !important;
}
.item-all {
	text-align: center;
	padding: 55px 0 45px 0;
}
.item-all a {
	border: 1px solid rgb(42,149,244);
	padding: 10px;
	text-transform: uppercase;
	font-size: 1.125em;
	display: inline-block;
	color: rgb(42,149,244);
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
.item-all a:hover {
	background-color: rgb(42,149,244);
	color: #fff;
}
.hidden {
	display: none;
}
.max-width-block {
	max-width: 1485px;
	padding: 0 20px;
	margin: 0 auto;
}
.block-center {
	text-align: center;
}
.block-left {
	text-align: left;
}
.block {
	overflow: hidden;
}
.calendar {
	display: block;
	text-transform: none;
	color: #000;
}
.icon_calendar {
	margin: 0 2px;
	padding: 6px;
	background: url(../images/icon_calendar.png) center center no-repeat;
	cursor: pointer;
}
.float {
	float: left;
}
.float-right {
	float: right;
}
.float50 {
	width: 50%;
	box-sizing: border-box;
	padding-right: 30px;
}
.transform-uppercase {
	text-transform: uppercase;
}
blockquote {
	margin: 60px;
	text-align: center;
	font-family: "Pt Sans";
	font-size: 1.250em;
	color: rgb(170,170,170);
	position: relative;
}
blockquote:before {
	content: url(../images/icon_blockquote_top.png);
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -7px;
}
blockquote:after {
	content: url(../images/icon_blockquote_bottom.png);
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -7px;
}
.margintop100 {
	margin-top: 100px;
}
.margintop50 {
	margin-top: 50px;
}
.text-block ul, .news-detail-block ol {
	margin-bottom: 2.188em;
	list-style-position: outside;
}
.text-block ul li {
	margin-left: 10px;
	padding-left: 13px;
	position: relative;
}
.text-block ul li:before {
	content: url(../images/list_dotter.png);
	position: absolute;
	left: 0;
	top: -4px;
}
.text-block ol {
	counter-reset:  item;
}
.text-block ol li {
	margin-left: 6px;
	padding-left: 20px;
	position: relative;
}
.text-block ol li:before {
	content: counter(item) ') ';
	counter-increment: item;
	color: #000;
	opacity: .4;
	filter: alpha(opacity=40);
	position: absolute;
	left: 0;
}
.nohidden {
	overflow: visible !important;
}